---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
  <h1>Hi, I'm Bruce</h1>
  <p style="margin-top: 1rem; color: #555; line-height: 1.7;">
    Welcome to my personal space. I'm a software engineer based in [City].
    This is where I share my background, resume, photos, and writing.
  </p>
</Layout>
